.bg-orange {
  background-color: #FFA500;
}

.bg-very-unhealthy {
  background-color: #800080;
}

.bg-hazardous {
  background-color: #7E0023;
}

.table .bg-orange {
  background-color: #FFA500;
}

.table .bg-very-unhealthy {
  background-color: #800080;
}

.table .bg-hazardous {
  background-color: #7E0023;
}

.leaflet-container {
  width: 100%;
  height: 80vh;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.close-btn {
  position: absolute;
  right: -2px;
  color: black;
}

.edit-btn {
  position: absolute;
  left: -2px;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (max-width: 380px){
  .flex {
    flex-direction: column;
    align-items: center;
  }

  .flex * {
    width: 100% !important;
  }

}